= form_tag(effective_orders.pretend_purchase_path(order, :purchased_redirect_url => purchased_redirect_url, :declined_redirect_url => declined_redirect_url), method: :post) do
  = submit_tag label, :class => 'btn btn-primary', :data => {'disable_with' => 'Continuing...' }
