= effective_form_with(scope: :pretend, url: effective_orders.pretend_order_path(order), method: :post) do |f|
  = f.hidden_field :purchased_url, value: purchased_url
  = f.hidden_field :declined_url, value: declined_url

  = f.submit order_checkout_label(:pretend), border: false
