%h2.effective-orders-page-title Order Items

- if @datatable.nil?
  %p
    Please install
    = link_to 'effective_datatables', 'https://github.com/code-and-effect/effective_datatables'
    to see this page.
- elsif @datatable.present?
  = render_datatable @datatable
- else
  %p There are no order items present
