%h1.effective-admin-heading= @page_title

%p.text-right.effective-admin-actions
  = link_to 'Stripe Customers', "https://dashboard.stripe.com/#{'test/' if Rails.env.development?}customers", class: 'btn btn-primary'

= render_datatable(@datatable)
