%h2 Customers

- unless @datatable.collection.length > 0
  %p 
    There are no customers
- elsif @datatable
  = render_datatable @datatable

%hr
%p= link_to 'Stripe Dashboard: Customers', 'https://manage.stripe.com/customers', :class => 'btn btn-primary'
