- if datatable.admin_namespace?
  - if order.purchased? == false
    = checkout_icon_to(effective_orders.admin_order_path(order))

  = edit_icon_to(effective_orders.edit_admin_order_path(order))
- else
  = show_icon_to(effective_orders.order_path(order))
