- if datatable.admin_namespace?
  = link_to effective_orders.admin_order_path(order), title: 'View' do
    %span.glyphicon.glyphicon-eye-open

  = link_to effective_orders.admin_order_path(order), title: 'Delete', data: { method: :delete, confirm: 'Are you sure you want to delete? This cannot be undone.' } do
    %span.glyphicon.glyphicon-trash

- else
  = link_to effective_orders.order_path(order), title: 'View' do
    %span.glyphicon.glyphicon-eye-open
