%h3 Internal Note

= simple_form_for [:admin, order], (EffectiveOrders.admin_simple_form_options || {}).merge(url: effective_orders.admin_order_path(order)) do |f|
  = f.input :note_internal, label: 'Internal note', hint: 'For internal admin use only.  This note will never be displayed to the buyer.'

  .form-group.pull-right
    = f.button :submit, 'Save Internal Note', data: { disable_with: 'Saving...' }
