%p.text-right
  = form.button :submit, 'Save', data: { disable_with: 'Saving...' }
  = form.button :submit, 'Save and Add New', data: { disable_with: 'Saving...' }
  - unless params[:action] == 'mark_as_paid'
    = form.button :submit, 'Save and Mark as Paid', data: { disable_with: 'Saving...' }
  = link_to 'Cancel', effective_orders.admin_orders_path
