%p.text-right
  = form.button :submit, 'Save', data: { disable_with: 'Saving...' }
  = form.button :submit, 'Save and Continue', data: { disable_with: 'Saving...' }
  = form.button :submit, 'Save and Add New', data: { disable_with: 'Saving...' }
  = form.button :submit, 'Save and Duplicate', data: { disable_with: 'Saving...' }
