- if order.purchased? && order.payment.present?
  .effective-order-payment-details
    %h3 Payment Provider Details
    = tableize_order_payment(order.payment[:details] || order.payment, class: 'table')

