.effective-order
  = effective_form_with(model: order, url: checkout_step1_form_url(order, namespace)) do |f|
    = render('effective/orders/fields', order: order, form: f)
    = f.submit 'Proceed to Checkout'
