= dropdown(variation: :dropleft) do
  = dropdown_link_to (order.purchased? ? 'View' : 'Checkout'), effective_orders.order_path(order)

  - if EffectiveResources.authorized?(controller, :send_buyer_receipt, order)
    = dropdown_link_to 'E-mail Receipt', effective_orders.send_buyer_receipt_order_path(order),
      data: { method: :post, confirm: "Send receipt to #{order.emails.first}?" }
