.effective-order-note
  %h2 Note

  - if EffectiveOrders.collect_note_message.present?
    %p= EffectiveOrders.collect_note_message.html_safe

  = form.text_area :note, required: (EffectiveOrders.collect_note_required == true)
