- if order.purchased? && (EffectiveOrders.authorized?(controller, :show, :payment_details) rescue false)
  .effective-order-payment-details
    %table.table
      %thead
        %tr
          %th Payment Details
          %th
      %tbody
        %tr
          %td Provider
          %td= order.payment_provider
        %tr
          %td Card
          %td
            = payment_card_label(order.payment_card)
            = (order.payment['f4l4'] rescue nil)
        %tr
          %td Purchased at
          %td= order.purchased_at&.strftime('%F %H:%M')

