.effective-order-header
  .mb-4.text-center
    = image_tag('effective_orders/logo.png')

    %h2 #{order.label} from Example Inc.

    %p.text-muted= order.to_s

    - if order.voided?
      %p 
        %strong VOID
