%h4 Payment Details

- if order.payment.present?
  - if order.purchased?
    %p This order was purchased with the following details:
  - elsif order.declined?
    %p This order was declined with the following details:

  %table.table
    %tbody
      - order.payment.each do |k, v|
        %tr
          %td= k
          %td= v
- else
  %p None
