.effective-order-terms-and-conditions
  %h2 Terms and Conditions

  - terms = EffectiveOrders.terms_and_conditions_label
  - label = terms.respond_to?(:call) ? instance_exec(form.object, &terms) : terms

  = form.check_box :terms_and_conditions, required: true,
    label: (label.presence || 'I accept the terms and conditions.').html_safe
