.effective-order-actions
  - if order.persisted?
    = link_to 'Print', '#', class: 'btn btn-secondary print-button', data: { role: 'print-button' }, onClick: 'window.print(); false;'

  - if order.purchased?
    = link_to 'Resend Receipt', effective_orders.send_buyer_receipt_order_path(order), class: 'btn btn-secondary', data: { confirm: 'This action will email the buyer a copy of the original email receipt. Send receipt now?', disable_with: 'Resending...' }

  - if order.persisted? && EffectiveOrders.authorized?(controller, :admin, :effective_orders)
    - if order.pending?
      = link_to 'Admin: Send Payment Request', effective_orders.send_payment_request_admin_order_path(order), class: 'btn btn-secondary', data: { method: :post, confirm: 'This action will email buyer a payment request. Send it now?', disable_with: 'Sending...' }
    = link_to 'Admin: Delete', effective_orders.admin_order_path(order), class: 'btn btn-danger', data: { method: :delete, confirm: 'Are you sure you want to delete? This cannot be undone.', disable_with: 'Deleting...' }
