.effective-order
  = render :partial => 'effective/orders/order_header', :locals => {:order => order}
  = render :partial => 'effective/orders/order_shipping', :locals => {:order => order}
  = render :partial => 'effective/orders/order_items', :locals => {:order => order}
