- if order.deferred?
  .effective-order-deferred
    %table.table
      %thead
        %tr
          %th Payment
      %tbody
        %tr
          %td
            - if order.delayed?
              Your card will be charged on #{order.delayed_payment_date.strftime('%F')} for the full amount
            - else
              Waiting for payment by #{order.payment_provider}
