.effective-order-actions
  - if order.persisted?
    = link_to icon('printer') + ' Print', '#', class: 'btn btn-sm btn-outline-primary print-button', data: { role: 'print-button' }, onClick: 'window.print(); false;'
