- if order.purchased?
  .effective-order-actions.pull-right
    %p
      = link_to 'Print', '#', :class => 'btn btn-default print-button', 'data-role' => 'print-button', :onClick => "window.print(); false;"
      = link_to 'Resend Receipt', effective_orders.resend_buyer_receipt_path(order), :class => 'btn btn-default resend-receipt-button', :data => {'confirm' => 'This action will email you a copy of the original email receipt.  Send receipt now?', 'disable_with' => 'Resending...'}
      - if EffectiveOrders.allow_pay_via_invoice && order.pending?
        = link_to 'Mark as Paid', effective_orders.mark_as_paid_admin_order_path(order), :class => 'btn btn-default', :method => :post, :data => {'confirm' => 'Are you sure you want to mark this order as paid?', 'disable_with' => 'Marking...'}
