%h2 Unable to Purchase
%p There was an error purchasing an order.

= render @order

%p Your cart has been restored.

%hr
= link_to 'Home', root_url, :class => 'btn btn-primary'
= link_to_current_cart, :class => 'btn btn-default'
