= render 'layout' do
  %h1.effective-heading= @page_title

  - if @datatable.present?(self)
    = render_simple_datatable(@datatable)
  - else
    %p You have no past orders. When you do, we'll show them here.
