%h1.effective-heading= @page_title

- if @pending_orders.present?
  %h2 Pending Orders
  = render_orders(@pending_orders)

- if @orders.present?
  %h2 Purchased Orders
  = render_orders(@orders)
- else
  %p You have no purchased orders.
