%h1.effective-heading= @page_title

%h2 Pending Orders
- if @pending_orders.present?
  = render_orders(@pending_orders)
- else
  %p You have no pending orders.

%h2 Purchased Orders
- if @orders.present?
  = render_orders(@orders)
- else
  %p You have no purchased orders.
