%h2 Thank You

%p You have successfully purchased the following:


%a.btn.btn-default.pull-right{'data-role' => 'print-button', :class => 'print-button', :onClick => "window.print(); false;"} Print

= render @order

%hr
= link_to 'Home', root_url, :class => 'btn btn-primary'
