%h2 Order

%a.btn.pull-right{'data-role' => 'print-button', :class => 'print-button', :onClick => "window.print(); false;"} Print

= render @order

%hr
= link_to 'Home', root_url, :class => 'btn btn-primary'
