%h2 Order
%hr

%a.btn.btn-default.pull-right{'data-role' => 'print-button', :class => 'print-button', :onClick => "window.print(); false;"} Print

= render @order

%hr
= link_to 'Back', :back, :class => 'btn btn-primary'
