.effective-deluxe-checkout
  #deluxe-checkout-loading Loading...
  #deluxe-checkout-errors.text-danger

  %style#deluxeCheckoutCss
    -# Pass in custom CSS to the Deluxe hosted payment form iframe
    = render('effective/orders/deluxe/css')

  #deluxeCheckout
