= effective_form_with(scope: :phone, url: effective_orders.phone_order_path(order), method: :post) do |f|
  = f.hidden_field :deferred_url, value: deferred_url

  = f.submit order_checkout_label(:phone), center: true, border: false, 'data-confirm': EffectiveOrders.phone[:confirm]
