= effective_form_with(scope: :cheque, url: effective_orders.cheque_order_path(order), method: :post) do |f|
  = f.hidden_field :deferred_url, value: deferred_url

  = f.submit order_checkout_label(:cheque), center: true, border: false, 'data-confirm': EffectiveOrders.cheque[:confirm]
