= effective_form_with(scope: :cheque, url: effective_orders.pay_by_cheque_order_path(order), method: :post) do |f|
  = hidden_field_tag(:purchased_url, purchased_url)
  = hidden_field_tag(:declined_url, declined_url)

  = f.submit order_checkout_label(:cheque), border: false
