= form_tag(effective_orders.pay_by_cheque_path(order), method: :post) do
  = submit_tag order_checkout_label(:cheque), class: 'btn btn-primary', data: { confirm: EffectiveOrders.cheque[:confirm].presence, disable_with: 'Continuing...' }
