%h2.effective-orders-page-title= (@page_title || 'Payment Required')

%p.effective-orders-page-content
  Thank you!
  You have indicated that this order will be purchased by cheque.
  Please send us a cheque at your earliest convenience.
  We will mark this order purchased upon receiving your payment.

= render @order
