%h2.effective-orders-page-title= (@page_title || 'Payment Required')

- if EffectiveOrders.cheque[:success_message].present?
  %p.effective-orders-page-content
    = EffectiveOrders.cheque[:success_message]

= render @order
