%h2.effective-orders-page-title= (@page_title || 'Payment required')

%p You have indicated that you'd like to pay by cheque.
%p Please send a cheque for the total amount listed below.
%p We will consider this order purchased upon receiving your payment.

= render @order
