%h2.effective-orders-page-title= (@page_title || 'Payment required')

%p.effective-orders-page-content
  Thank you!
  You have indicated that this order will be purchased by cheque.
  Please remit payment at your earliest convenience.
  We will mark this order purchased upon receiving your payment.

= render @order
