= effective_form_with(scope: :free, url: effective_orders.free_order_path(order), method: :post) do |f|
  = f.hidden_field :purchased_url, value: purchased_url
  = f.hidden_field :declined_url, value: declined_url

  = f.submit order_checkout_label(:free), center: true, border: false
