= effective_form_with(scope: :paypal, url: EffectiveOrders.paypal[:paypal_url], method: :post) do |f|
  = hidden_field_tag(:cmd, '_s-xclick')
  = hidden_field_tag(:encrypted, paypal_encrypted_payload(order))

  = f.submit order_checkout_label(:paypal), border: false
