= form_tag(EffectiveOrders.paypal[:paypal_url], :method => 'post') do
  = hidden_field_tag :cmd, '_s-xclick'
  = hidden_field_tag :encrypted, paypal_encrypted_payload(order)

  = submit_tag 'Checkout with PayPal', :class => 'btn btn-primary'
