= javascript_include_tag 'https://checkout.stripe.com/checkout.js'

= form.fields_for :subscripter, form.object.subscripter do |fs|
  = fs.hidden_field :stripe_token, value: nil

  - fs.object.stripe_plan_id ||= (fs.object.current_plan || {})[:id]

  = fs.radios :stripe_plan_id, stripe_plans_collection(fs, include_trial: include_trial),
    label: label,
    required: required,
    cards: true,
    wrapper: { class: 'effective-orders-stripe-plans', data: { stripe: stripe } }
