.panel.panel-default{class: ('panel-primary selected' if selected)}
  .panel-heading.text-center
    %h3= plan[:name]
    %p= stripe_plan_description(plan)
  .panel-body
    %p Includes all features

    - if plan[:amount] == 0
      %p Free plan

    .visible-when-unselected.text-center
      = link_to 'Select', '#', class: 'btn btn-default btn-select'

    .visible-when-selected.text-center
      - if subscribed
        %p
          %strong Your current plan
      - else
        %p This is #{['an amazing', 'a great', 'an excellent', 'an exceptional', 'a marvelous', 'a wonderful'].sample} plan

