%p.effective-orders-receipt-info
  - if @order.present?
    An error occurred with the following order:
  - else
    An order error occurred:

- if @error.present?
  %p Error: #{@error}

- if @order.present?
  = render(@order, no_order_actions: true)
