%p.effective-orders-receipt-info Pending order created

%p We have received notice of your intention to purchase the following items.

- if @order.delayed?
  %p{style: "margin-bottom: 4px; font-weight: bold;"} Please note:
  %ul{style: "margin-top: 0;"}
    %li Your credit card will be charged on <strong>#{@order.delayed_payment_date.strftime("%A, %B %d, %Y")}</strong>.
    %li Changes and cancellations must be made before this date.
    %li A receipt will be sent after the transaction is completed.

- elsif @order.deferred?
  %p Please remit payment at your earliest convenience.

  - if EffectiveOrders.deferred_providers.present?
    - providers = EffectiveOrders.deferred_providers.to_sentence(last_word_connector: ', or', two_words_connector: ' or ')
    %p When we receive your #{providers} we will mark your order paid.

= render(@order, no_order_actions: true)

%hr
%p{style: "text-align: center;"}
  = link_to('View your order', effective_orders.order_url(@order))
