%p.effective-orders-receipt-info Subscription canceled

%p We will no longer charge your credit card.

%p Thank you for trying our app.

%p If you would like to continue, please click the following link to update your card settings:

%p= link_to(effective_orders.customer_settings_url, effective_orders.customer_settings_url)
