%p.effective-orders-receipt-info Subscription created

%p Thank you for subscribing!

%p You are currently subscribed to the following:

%ul
  - @subscriptions.each do |subscription|
    %li #{subscription.subscribable.to_s} - #{subscription}

%p Please click the following link to view past invoices or update your card settings:

%p= link_to(effective_orders.customer_settings_url, effective_orders.customer_settings_url)
