%p.effective-orders-receipt-info Payment failed

%p We were unable to charge your credit card #{@customer.active_card}.

%p We will attempt to charge your credit card again in a few days for 3 total attempts.

%p Please click the following link to update your card settings:

%p= link_to(effective_orders.customer_settings_url, effective_orders.customer_settings_url)
