%p.effective-orders-receipt-info Trial expiring

%p Your trial for #{@subscribable} expires on #{@subscribable.trialing_until.strftime('%F')}.

%p Please upgrade to a paid plan before your trial expires.

%p= link_to(root_url, root_url)
