.effective-order {
  table {
    clear: both;
    margin-bottom: 25px;

    tfoot {
      > tr:first-child {
        border-top: 20px solid transparent;
      }

      th {
        border: none;
        text-align: right;
        padding-right: 65px;
      }

      td {
        text-align: right;
      }

      .actions { border: none; }
    }
  }

  .price { text-align: right; }
}

// Print - Resend Receipt.  Ontop of order.
.effective-order-actions {
  text-align: right;
  margin-bottom: 0.5rem;
}

.effective-order-change-items {
  margin-bottom: 1rem;
}

.effective-order-admin-purchase-actions {
  margin-top: 0.5rem;
}

form.new_effective_order {
  .checkbox { margin-top: 30px; }
  .remove-nested-fields { margin-top: 30px; }
  a.remove_fields.dynamic { float: right; }
}

.effective-moneris-checkout {
  height: 720px;
}

@media print {
  .effective-orders-page-content { display: none; }

  .effective-order-actions { display: none; }
  .effective-order-purchase-actions { display: none; }
  .effective-order-admin-purchase-actions { display: none; }

  .effective-heading { display: none; }
  .effective-admin-heading { display: none; }
  .effective-order-internal-note-form { display: none; }
}
