.effective-order {
  table {
    clear: both;
    margin-bottom: 25px;

    tfoot {
      > tr:first-child {
        border-top: 20px solid transparent;
      }

      th {
        border: none;
        text-align: right;
        padding-right: 65px;
      }

      td {
        text-align: right;
      }

      .actions { border: none; }
    }
  }

  .price { text-align: right; }

  .effective-stripe-subscription {
    input {
      margin-top: 5px;
      width: 30%;
      min-width: 200px;
    }
  }
}

.effective-order-purchase-actions {
  text-align: right;

  > * {
    display: inline-block;
  }
}

form.new_effective_order {
  .checkbox { margin-top: 30px; }
  .remove-nested-fields { margin-top: 30px; }
  a.remove_fields.dynamic { float: right; }
}

@media print {
  .effective-order-purchase-actions { display: none; }
  .print-button { display: none; }
  .resend-receipt-button { display: none; }
}
