.effective-order {
  table {

    .price { text-align: right; }

    tfoot {
      th, td {
        border: none;
        text-align: right;
        white-space: nowrap;
      }

      // This is the first column
      th { width: 100%; }

      tr.single-line {
        td { border-top: solid 1px; }
      }

      tr.double-line {
        td { border-top: double 4px; }
      }

      .price { padding-left: 2rem; }
      .amount-owing { font-style: italic; }
      .total { font-style: italic; }
    }
  }
}

// Print - Resend Receipt.  Ontop of order.
.effective-order-actions {
  text-align: right;
  margin-bottom: 0.5rem;
}

.effective-order-change-items {
  margin-bottom: 1rem;
}

.effective-order-admin-purchase-actions {
  margin-top: 0.5rem;
}

form.new_effective_order {
  .checkbox { margin-top: 30px; }
  .remove-nested-fields { margin-top: 30px; }
  a.remove_fields.dynamic { float: right; }
}

.effective-moneris-checkout {
  height: 720px;
}

@media print {
  .effective-orders-page-content { display: none; }

  .effective-order-actions { display: none; }
  .effective-order-purchase-actions { display: none; }
  .effective-order-admin-purchase-actions { display: none; }

  .effective-heading { display: none; }
  .effective-admin-heading { display: none; }
  .effective-order-internal-note-form { display: none; }
}
