// This is the radio button form input
.effective-orders-stripe-plans {
  input { display: none; }
  label { width: 100%; padding-left: 0px; }
  .radio + .radio { margin-top: 10px; }

  .visible-when-selected { display: none; }
  .visible-when-unselected { display: block; }

  label > .selected {
    .visible-when-selected { display: block; }
    .visible-when-unselected { display: none; }
  }
}
