!!!
%html{style: 'background: #fff;'}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}

  :css
    .effective-order table.table { min-width: 650px; vertical-align: top; border: 0; }
    .effective-order table.table td { border: 0; vertical-align: top; }
    .effective-order { text-align: left; }
    .effective-order .price { text-align: right; }
    .effective-order tfoot th { text-align: right; }
    .effective-order tfoot tr:first-child td { padding-top: 24px; }
    .effective-order tfoot tr:first-child th { padding-top: 24px; }
    .effective-order-shipping { padding-top: 12px; padding-bottom: 12px; }
    .effective-order-header h1 { margin: 0; }
    @media print { .effective-page-break { page-break-inside: avoid; page-break-after: always; min-height: 1px; } }

  %body{style: 'background: #fff;'}
    %table{style: 'width: 100%;'}
      %tr
        %td
          %table{style: 'max-width: 650px; margin: 4px auto 30px;'}
            %tbody{style: 'width: 100%;'}
              %tr
                %td= yield
